{% extends "app/base.html" %}

{% block content %}
<div class="register-box">
  <div class="register-logo">
    <a><b>e-pedidos</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Faça o seu cadastro</p>
    <form action="/cadastrar/" method="POST">
    {% csrf_token %}
      {{ cadastro_form.non_field_errors }}
      <div class="form-group has-feedback">
        {{ cadastro_form.first_name.errors }}
        {{ cadastro_form.first_name }}
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      {{ cadastro_form.non_field_errors }}
      <div class="form-group has-feedback">
        {{ cadastro_form.last_name.errors }}
        {{ cadastro_form.last_name }}
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      {{ cadastro_form.non_field_errors }}
      <div class="form-group has-feedback">
        {{ cadastro_form.username.errors }}
        {{ cadastro_form.username }}
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ conta_sistema_form.nome.errors }}
        {{ conta_sistema_form.nome }}
        <span class="fa fa-university form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ cadastro_form.password.errors }}
        {{ cadastro_form.password }}
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
        </div>
      </div>
    </form>

    <a href="{% url 'app:login' %}" class="text-center">Já tenho uma conta</a>
  </div>
</div>
{% endblock content %}